<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2>Welcome back, <%= userName %></h2>

    <h4>Create New Post:</h4>
    <form class="" action="/gTutor/posts" method="post">

      <label for="topic">Topic: </label>
      <select class="" name="topic">
        <option value="Chicago">Chicago</option>
        <option value="JavaScript">JavaScript</option>
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="jQuery">jQuery</option>
        <option value="DOM">DOM</option>
        <option value="SQL">SQL</option>
        <option value="PostgreSQL">PostgreSQL</option>
        <option value="AJAX">AJAX</option>
        <option value="Node/Node Modules">Node/Node Modules</option>
        <option value="Heroku">Heroku</option>
        <option value="React">React</option>
        <option value="General Backend Questions">General Backend Questions</option>
        <option value="General Frontend Questions">General Frontend Questions</option>
        <option value="Other">Other</option>
      </select>

      <label for="title">Title</label>
      <input type="text" name="title" placeholder="i.e.: JavaScript - Accumulator Pattern">

      <label for="content">Content: </label>
      <input type="text" name="content" placeholder="Briefly describe what you need help with">

      <input type="submit" name="" value="Submit">
    </form>

    <h4>All Posts</h4>
    <% let anyPosts = false;
      if (posts[0]) { %>
      <% for (let i = 0; i < posts.length; i++) { %>
        <% if (posts[i].status !== "CLOSED") {
            anyPosts = true; %>
          <p>REQUESTED BY: <%= posts[i].first_name %> <%= posts[i].last_name %></p>
          <p>TOPIC: <%= posts[i].topic %></p>
          <p>TITLE: <%= posts[i].title %></p>
          <p>CONTENT: <%= posts[i].content %></p>

          <% if (posts[i].user_id == loggedUserID) { %>
            <a class="btn orange" href="/gTutor/posts/edit/<%= posts[i]["posts.id"] %>">EDIT</a>
            <a class="btn red" href="/gTutor/posts/delete/<%= posts[i]["posts.id"] %>">DELETE</a>
          <% } else { %>
            <% if (posts[i].status === "PENDING") {
                 let myHelps = helps.filter((post) => {
                   if (post.post_id === posts[i]["posts.id"]) {
                     if (post.user_id == loggedUserID) {
                       return post;
                     }
                   }
                 });

              if (myHelps[0]) { %>
                <a class="btn disabled" href="#">You have offered to help - Waiting on OP's reply.</a>
              <% } else { %>
                <a class="btn" href="/gTutor/posts/help/<%=posts[i]["posts.id"]%>">Offer To Help</a>
              <% } %>
            <% } else { %>
              <a class="button" href="/gTutor/posts/help/<%=posts[i]["posts.id"]%>">Offer To Help</a>
            <% } %>
          <% } %>
        <% } %>
        <% }
          if (!anyPosts) { %>
              <p>No posts yet :-(</p>
          <% } %>

    <% } else { %>
      <p>No posts yet :-(</p>
    <% } %>

    <h4>Your Posts</h4>
    <% if (personalPosts[0]) { %>
      <% for (let i = 0; i < personalPosts.length; i++) {
          let date = String(personalPosts[i].created_at);
          date = date.split(" ");
      %>
      <div style="border: 1px solid black">
        <p>Posted On: <%= date[0] %> <%= date[1] %> <%= date[2] %> <%= date[3] %></p>
        <p>TOPIC: <%= personalPosts[i].topic %></p>
        <p>TITLE: <%= personalPosts[i].title %></p>
        <p>CONTENT: <%= personalPosts[i].content %></p>
        <% if (personalPosts[i].status === "PENDING") { %>
          <p>STATUS: <%= personalPosts[i].status %></p>
          <% console.log('frontend:', messages) %>
          <% for (let j = 0; j < messages.length; j++) {
            if (messages[j].post_id === personalPosts[i]["posts.id"]) { %>
              <p>FROM: <%= messages[j].first_name %> <%= messages[j].last_name %></p>
              <p>MESSAGE: <%= messages[j].message %> </p>
              <p>STATUS: <%= messages[j].status %> </p>
              <% console.log("messages[j]", messages[j]) %>
              <a href="/gTutor/posts/<%=messages[j].helper_id%>/accept">ACCEPT</a>
              <a href="/gTutor/posts/<%=messages[j].helper_id%>/reject">REJECT</a>
            <% }
          }%>

        <% } %>
      </div>
      <% } %>
    <% } else { %>
      <p>No posts yet :-(</p>
    <% } %>

    <h4>Your Offered Helps</h4>
    <% for (let i = 0; i < offeredHelp.length; i++) { %>
      <p>POSTED BY: <%= offeredHelp[i].first_name%> <%= offeredHelp[i].last_name%> </p>
      <p>TITLE: <%= offeredHelp[i].title%></p>
      <p>TOPIC: <%= offeredHelp[i].topic%></p>
      <p>CONTENT: <%= offeredHelp[i].content%></p>
      <% for (let j = 0; j < sentMessages.length; j++) {
        console.log("offeredHelp", offeredHelp[i])
        if (sentMessages[j].post_id == offeredHelp[i]["posts.id"]) { %>
          <p>YOUR RESPONSE: <%= sentMessages[j].message %></p>
          <p>STATUS: <%= sentMessages[j].status%></p>
        <% } %>
      <% } %>
    <% } %>
  </body>
</html>
