<% include ../partials/header %>
<link rel="stylesheet" href="/css/style_login.css">

    <div class="container">
      <div class="row">
        <div id="body-heading" class="center-align">
          <h3>Code Assistance Request Form</h3>
        </div>
      </div>

      <div class="row">
        <div id="learn" class="center-align white-text">
          <h5>Create and submit your help request below</h5>
        </div>
      </div>


      <div class="row">
        <div class="form-container">
          <form class="col s8 offset-s2 form z-depth-2" action="/gTutor/posts/edit/<%= post.id %>" method="post">

            <div class="row">
              <div id="form-top-row" class="input-field col s9">
                <input id="request_title" type="text" class="validate" name="title" value="<%= post.title %>">
                <label for="request_title">Title</label>
              </div>

              <div id="form-top-row" class="input-field col s3">
                <% let topics = ["Chicago", "HTML/CSS", "JavaScript", "DOM Manipulation", "jQuery/AJAX", "SQL/Postgres", "Express", "KNEX"] %>

                <select name="topic">
                  <option value="<=% post.topic %>" selected> <%= post.topic %></option>
                  <!-- <option value="0" selected>Select a topic area</option> -->
                  <% for (let i = 0; i < topics.length; i++) {
                    if (post.topic !== topics[i]) { %>
                        <option value="<%= topics[i] %>"><%= topics[i] %></option>
                      <!-- <option value="HTML/CSS">HTML/CSS</option>
                      <option value="JavaScript">JavaScript</option>
                      <option value="DOM Manipulation">DOM Manipulation</option>
                      <option value="jQuery/AJAX">jQuery/AJAX</option>
                      <option value="SQL/Postgres">SQL/Postgres</option>
                      <option value="Express">Express</option>
                      <option value="KNEX">KNEX</option>
                      <option value="Chicago">Chicago</option> -->
                    <% }
                   } %>
                </select>
                <label>Topic</label>
              </div>
            </div>


            <div class="row">
              <div class="input-field col s12">
                <input id="request_description" type="text" class="validate" name="content" value="<%= post.content %>">
                <label for="request_description">Description</label>
              </div>
            </div>

            <!-- <div class="row">
              <div class="input-field col s3">
                <input id="request_date1" type="text" class="validate datepicker" name="request_date1" placeholder="Select Date">
                <label for="request_date1">1st Date Available</label>
              </div>
              <div class="input-field col s3">
                <input id="request_date2" type="text" class="validate datepicker" name="request_date2" placeholder="Select Date">
                <label for="request_date2"> 2nd Date Available</label>
              </div>
              <div class="input-field col s3">
                <input id="request_time_start" type="text" class="validate timepicker" name="request_time_start" placeholder="Select Start Time">
                <label for="request_time_start">Timeframe Start</label>
              </div>
              <div class="input-field col s3">
                <input id="request_time_end" type="text" class="validate timepicker" name="request_time_end" placeholder="Select End Time">
                <label for="request_time_end">Timeframe End</label>
              </div>
            </div> -->

            <div class="row">
              <button id="btn-registration" class="waves-effect waves-light btn col s12" type="submit">Submit Request</button>
            </div>

          </form>
        </div>
      </div>
    <!-- END container -->
    </div>

<footer class="page-footer">
 <div class="container">
   <div class="row">
     <div class="center-align">
       <h5 class="white-text"> a <span style="color:#e9933e;">galvanize</span> student project</h5>
     </div>
   </div>
 </div>

 <div class="footer-copyright">
   <div class="container center">
   © 2017 gTutor | Barbara Doring, Hassan Khan, Scott Dickscheid | All Rights Reserved
   <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
   </div>
 </div>
</footer>

  <!-- Compiled and minified jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });

    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: false // Close upon selecting a date,
    });

    $('.timepicker').pickatime({
      default: 'now', // Set default time: 'now', '1:30AM', '16:30'
      fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
      twelvehour: false, // Use AM/PM or 24-hour format
      donetext: 'OK', // text for done-button
      cleartext: 'Clear', // text for clear-button
      canceltext: 'Cancel', // Text for cancel-button
      autoclose: false, // automatic close timepicker
      ampmclickable: true, // make AM PM clickable
      aftershow: function(){} //Function for after opening timepicker
    });
    </script>
  </body>

</html>
